<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>API Docs — Swagger UI</title>

  <link href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4/swagger-ui.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <div id="top-bar">
    <strong style="margin-right:.5rem">API Docs</strong>
    <input id="specUrl" type="text" placeholder="URL OpenAPI (contoh: /openapi.json) — bisa pakai ?url=" />
    <button id="loadBtn">Muat</button>
  </div>

  <div id="swagger-ui"></div>

  <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4/swagger-ui-bundle.js"></script>
  <script src="/static/js/script.js"></script>
</body>
</html>